<div>
  <table class="table-auto max-w-7xl mx-auto w-full">
    <thead>
      <tr class="text-left">
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">cantidad</th>
        <th class="px-4 py-2">producto</th>
        <th class="px-4 py-2">precio</th>
        <th class="px-4 py-2">acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td class="border px-4 py-2">{{product.id}}</td>
        <td class="border px-4 py-2">{{product.qty}}</td>
        <td class="border px-4 py-2">{{product.name}}</td>
        <td class="border px-4 py-2">{{product.price}}</td>
        <td class="border px-4 py-2 space-x-2">
          <a [routerLink]="['./editar/',product.id]" class="bg-blue-500 hover:bg-blue-700 text-white text-xs py-1 px-2 rounded">
            Editar
          </a>
          <button (click)="deleteProduct(product.id)" class="bg-red-500 hover:bg-red-700 text-white text-xs py-1 px-2 rounded">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
