<div>
  <div class="p-6 bg-slate-300">
    <h1 class="text-3xl">
      Bienvenido al inventario de prueba
    </h1>

    <ul class="bg-slate-700 list-none flex flex-row max-7xl rounded-md">
      <li class="p-2">
        <a [routerLink]="['proveedores']" class="text-white bg-slate-700 p-2 hover:bg-amber-700 rounded-md">
          Proveedores
        </a>
      </li>
      <li class="p-2">
        <a [routerLink]="['productos']" class="text-white bg-slate-700 p-2 hover:bg-amber-700 rounded-md">
          Productos
        </a>
      </li>
      <li class="p-2">
        <a [routerLink]="['categorias']" class="text-white bg-slate-700 p-2 hover:bg-amber-700 rounded-md">
          Categorías
        </a>
      </li>
    </ul>

  </div>

  <router-outlet></router-outlet>
</div>
